<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="Layout"
              value="${longdate}\t[t${threadid}]\t[${logger}]\t[${callsite:includeNamespace=false}]\t[${level:upperCase=true}]] ${message} ${exception:format=message,stacktrace} ${event-properties:item=ir-objects}" />

    <targets>
        <wrapper-target xsi:type="AsyncWrapper" name="ToFile">
            <target xsi:type="File"
                    createDirs="true"
                    archiveAboveSize="31457280"
                    archiveNumbering="Sequence"
                    maxArchiveFiles="5"
                    archiveEvery="Day"
                    layout="${Layout}" />
        </wrapper-target>
        <wrapper-target xsi:type="AsyncWrapper" name="ToDebug">
            <target xsi:type="Debugger"
                    name="Console">
                <layout>${longdate} [t${threadid}] [${logger}] [${callsite:includeNamespace=false}] [${level:upperCase=true}] ${message} ${exception:format=message,stacktrace} ${event-properties:item=ir-objects}</layout>
            </target>
        </wrapper-target>
    </targets>

    <rules>
        <!-- <logger name="*" minlevel="Info" writeTo="ToFile" /> -->
        <logger name="default" minlevel="Debug" writeTo="ToDebug" />
    </rules>
</nlog>